<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:绑定一个作用的接口-->
<mapper namespace="com.wcm533.dao.UserMapper">
    <insert id="insertUser" parameterType="user">
        insert into user (username,password,email) values (#{username},#{password},#{email})
    </insert>
    <delete id="deleteUser" parameterType="map">
        delete from user where id=#{id}
    </delete>
    <update id="updateUser" parameterType="user">
        update user set username=#{username},password=#{password},email=#{email},points=#{points},authority=#{authority} where id=#{id}
    </update>
    <update id="replaceHead" parameterType="map">
        update user set head_img=#{headImg} where id=#{id}
    </update>
    <select id="queryAllUsers" resultType="user">
        select * from user
    </select>
    <select id="queryUsersByUsername" parameterType="map" resultType="user">
        select * from user where username like "%"#{username}"%"
    </select>
    <select id="queryUserById" resultType="user">
        select * from user where id=#{id}
    </select>
    <select id="queryUserByUsername" resultType="user">
        select * from user where username=#{username}
    </select>
    <select id="queryUserByEmail" parameterType="map" resultType="user">
        select * from user where email=#{email}
    </select>
    <select id="queryUserByIdAndPassword" resultType="user">
        select * from user where  id=#{id} and password=#{password}
    </select>
    <select id="queryUserByEmailAndPassword" resultType="user">
        select * from user where  email=#{email} and password=#{password}
    </select>
    <select id="queryUserByUsernameAndPassword" resultType="user">
        select * from user where  username=#{username} and password=#{password}
    </select>

    <select id="queryUserCount" resultType="int">
        select count(*) from user
    </select>
    <select id="queryUserForPage" parameterType="map" resultType="user">
        select * from user limit #{begin},#{pageSize}
    </select>

</mapper>